#titlearea {
    padding:          2px;
    background-color: #c8dbf4;
    border:           1px solid black;
}

#nav-tree {
    background-color: #F8F6E6;
}

#nav-tree .item a {
    font-size: 10pt;
}

.contents .textblock h1,
.contents .textblock h2,
.contents .textblock h3,
.contents .textblock h4 {
    margin-top:       0px;
    margin-right:     0px;
    margin-bottom:    0px;
    font-size:        16pt;
}

.contents .textblock h1 {
    background-color: #f0f0f0;
    margin-left:      0px;
    margin-bottom:    6px;
    padding:          10px;
    font-size:        15pt;
}

.contents .textblock h2 {
    background-color: #e8e8e8;
    margin-left:      10px;
    font-size:        13pt;
}

.contents .textblock h3 {
    background-color: #e0e0e0;
    margin-left:      20px;
    padding:          6px;
    font-size:        12pt;
}

.contents .textblock h4 {
    background-color: #d8d8d8;
    margin-left:      30px;
    padding:          4px;
    font-size:        11pt;
}

.contents .textblock p, .contents .textblock ul {
    margin-left:      40px;
}

/* Indent all tables. */
.markdownTable {
    margin-left: 60px;
}

/* Set up 2-column tables. */
.table2columns {
    display:        flex;
    flex-direction: row;
    margin-left:    0px;
}

.tablecolumn > .markdownTable {
    margin-left: 0px;
}

.table2columns .tablecolumn:nth-of-type(1) {
    margin-left: 60px;
}

.table2columns .tablecolumn:nth-of-type(n+2) {
    margin-left: 20px;
}

/* Indent all fenced code blocks */
div.fragment {
    margin-left: 40px;
}

/* Indent code blocks and format them like fenced code blocks. (Can't use
 * actual fenced code blocks because they need to allow bold, italic, etc.)
 * Note that this has <code> inside the <pre>, but the markdown has it the
 * other way around so that the initial blank line can be removed with the
 * margin-top setting here.
 */
#doc-content pre > code {
    font-size:        13px;
    line-height:      15px;
    margin-top:       -13px;
    margin-left:      50px;
    border:           1px solid var(--fragment-border-color);
    background-color: var(--fragment-background-color);
    color:            #447755;
}

/* Custom code spans */
.codeterm {
    color:       #ee7788;
    font-family: monospace;
    font-weight: bold;
}
