/* Table of Contents uses a smaller font. */
#markdown-toc {
    font-size: smaller;
}

/* Use smaller line spacing. */
p {
   line-height: 1.4;
}

.footer {
    color:      #888888;
    text-size:  smaller;
    text-align: center;
}
