/* ------------------------------------------------------------------
 * Variables.
 * ------------------------------------------------------------------*/

$header-footer-bg-color: #f3efed;

/* ------------------------------------------------------------------
 * Settings.
 * ------------------------------------------------------------------

/* Fix relative widths */
.side-bar {
    width: 25%;
}
.main {
    margin-left: 25%;
    max-width: 75%;
    width: 75%;
}

/* Use smaller line spacing. */
p {
   line-height: 1.4;
}

/* Customize footer text and background. Move space from paragraph margin to
 * footer padding so the background covers all. */
.footer {
    background: $header-footer-bg-color;
    color:      #888888;
    text-size:  smaller;
    text-align: center;
    padding:    16px;
}
.footer p {
    margin:     0;
}

/* Table of Contents uses a smaller font. */
#markdown-toc {
    font-size: smaller;
}

/* Put borders on and margins around all images. */
img {
  border: 3px solid #333333;
  margin: 4px;
}

/* Highlight the top bar background. */
.main-header, #search-input {
    background: $header-footer-bg-color;
}
